* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.start-screen {
  width: 80%;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  background-image: url(./images/spongebob-start.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 105% 100%;
}

.start-screen h1 {
  margin-top: 70px;
  margin-left: 50px;
  font-family: "Roboto Slab", serif;
}

.start-screen h2 {
  margin-top: 200px;
  margin-left: 30px;
  font-family: "Roboto Slab", serif;
}

.start-screen p {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.btnStart {
  background-color: black;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(00, 00, 00, 0.2);
  margin-left: 100px;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 25px;
}

.btnStart a {
  text-decoration: none;
  color: white;
}

.btnRestart {
  background-color: black;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(00, 00, 00, 0.2);
  margin-left: -105px;
  margin-right: 115px;
  margin-top: 400px;
  height: 50px;
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 25px;
}

.btnRestart a {
  text-decoration: none;
  color: white;
}

.game-board {
  width: 80%;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: url(./images/bikinibottom-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 105% 100%;
}

.jellyfish {
  position: absolute;
  width: 60px;
  top: 200px;
  animation: jellyfish-animation 4.5s infinite linear;
}

.gary {
  position: absolute;
  bottom: 0px;
  width: 70px;
  animation: gary-animation 2.5s infinite linear;
}

.bob {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes jellyfish-animation {
  from {
    right: -60px;
  }

  to {
    right: 100%;
  }
}

@keyframes gary-animation {
  from {
    right: -70px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0px;
  }
}

.game-over-screen {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  background-image: url(./images/spongebob-gameover.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 105% 100%;
}

.game-over-screen p {
  margin-top: 300px;
  margin-left: 400px;
  font-size: 32px;
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.btnStartScreen {
  background-color: #fafb00;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(00, 00, 00, 0.2);
  margin-left: -600px;
  margin-right: 550px;
  margin-top: 440px;
  height: 50px;
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 18px;
}

.btnStartScreen a {
  text-decoration: none;
  color: black;
}
