* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.start-screen {
  width: 80%;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  background-image: url(./images/spongebob-start.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 105% 100%;
  flex-direction: column;
}

.start-screen h1 {
  margin-top: 70px;
  margin-left: 50px;
  font-family: "Roboto Slab", serif;
}

.start-screen h2 {
  margin-top: 200px;
  margin-left: 30px;
  font-family: "Roboto Slab", serif;
}

.start-screen p {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}

.btnStart {
  background-color: black;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 20%);
  margin-left: 65px;
  margin-top: 30px;
  height: 50px;
  width: 200px;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.btnRestart {
  background-color: black;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(00, 00, 00, 0.2);
  height: 45px;
  width: 130px;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 25px;
  color: #f6e801;
  position: absolute;
  margin: 10px;
  cursor: pointer;
}

.game-over-screen {
  width: 47%;
  height: 320px;
  border: 1px solid black;
  margin: -455px auto;
  position: relative;
  background-image: url(./images/spongebob-gameover.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 105% 100%;
}

.game-over-screen p {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: flex-end;
  margin: 10px;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.game-board {
  width: 80%;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: url(./images/bikinibottom-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 105% 100%;
  cursor: pointer;
}

.jellyfish {
  position: absolute;
  width: 60px;
  top: 150px;
  animation: jellyfish-animation 5s infinite linear;
}
.jellyfish2 {
  position: absolute;
  width: 60px;
  top: 80px;
  animation: jellyfish-animation 6.5s infinite alternate-reverse;
}

.jellyfish3 {
  position: absolute;
  width: 60px;
  top: 20px;
  animation: jellyfish-animation 8.5s infinite linear;
}

.gary {
  position: absolute;
  bottom: 0px;
  width: 70px;
  animation: gary-animation 2.5s infinite linear;
}

.bob {
  width: 150px;
  position: absolute;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

@keyframes jellyfish-animation {
  from {
    right: -60px;
  }

  to {
    right: 100%;
  }
}

@keyframes gary-animation {
  from {
    right: -70px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0px;
  }
}
